# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

*.slo
.libs
.configured
.deps
.dirstamp
.pytest_cache
compile
aclocal.m4
autom4te.cache
autoscan.log
config.guess
config.log
config.status
config.sub
config.h
config.h.in
config.h.in~
config.cache
configure
configure.scan
depcomp
httpd.conf
install-sh
libtool
ltmain.sh
missing
stamp-h1
Makefile.in
Makefile
mod_md-*.tar.gz
m4
.cache

build/
.idea
README.md.bak
.env
src/mod_authnz_tailscale.h
test/pyhttpd/config.ini
__pycache__
test/gen